In [1]:
import pandas as pd

df = pd.read_csv("hf://datasets/Owishiboo/grammar-correction/dataset3.csv")

In [2]:
df

,Unnamed: 0,input,target
0,0,New and new technology has been introduced to...,New technology has been introduced to society .
1,1,New and new technology has been introduced to...,New technology has been introduced into the so...
2,2,New and new technology has been introduced to...,Newer and newer technology has been introduced...
3,3,New and new technology has been introduced to...,Newer and newer technology has been introduced...
4,4,One possible outcome is that an environmental...,One possible outcome is that an environmentall...
...,...,...,...
5999,5999,Sceene of violence can affect on them .,Scenes of violence can affect them .
6000,6000,While the communities in general have reckone...,The communities in general have reckoned that ...
6001,6001,While the communities in general have reckone...,While the communities in general have reckoned...
6002,6002,While the communities in general have reckone...,While the communities in general have recogniz...
6003,6003,While the communities in general have reckone...,While the communities in general believe that ...

In [3]:
df.drop(['Unnamed: 0'], axis =1 , inplace = True)

In [8]:
df.duplicated().sum()

1125

In [9]:
df

,input,target
0,New and new technology has been introduced to...,New technology has been introduced to society .
1,New and new technology has been introduced to...,New technology has been introduced into the so...
2,New and new technology has been introduced to...,Newer and newer technology has been introduced...
3,New and new technology has been introduced to...,Newer and newer technology has been introduced...
4,One possible outcome is that an environmental...,One possible outcome is that an environmentall...
...,...,...
5999,Sceene of violence can affect on them .,Scenes of violence can affect them .
6000,While the communities in general have reckone...,The communities in general have reckoned that ...
6001,While the communities in general have reckone...,While the communities in general have reckoned...
6002,While the communities in general have reckone...,While the communities in general have recogniz...
6003,While the communities in general have reckone...,While the communities in general believe that ...